<a href="https://colab.research.google.com/github/mlavanya843/PYTHON/blob/master/DAY9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## Markdown
### Markdown
###### Markdown
**Points**
*points*
***Points***

***Points***

*** Adding links to Markdown***
[site](https://www.jntua.ac.in/)

### inserting image
![text](https://upload.wikimedia.org/wikipedia/en/thumb/e/e3/Jawaharlal_Nehru_Technological_University%2C_Anantapur_logo.png/220px-Jawaharlal_Nehru_Technological_University%2C_Anantapur_logo.png)

In [3]:
print("lavanya lailu")

lavanya lailu

print("lavanya lailu")

In [6]:
print("hello , jntua")
print("hello, jntua","|||","chemical")

hello , jntua
hello, jntua ||| chemical

Assignment

In [14]:
n1 = 100 # single variable assignment
print(n1)
a = b = c = 10 # multiple variable assignment 
print(a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

data types and conversions

int
float
string

In [10]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [12]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [15]:
# length
a = 123456
print(len(str(a)))

6

# Reading input form user--- input function

In [16]:
a = input("enter ur name")
print(a)
print(type(a))

enter ur namelavanya
lavanya
<class 'str'>

In [17]:
b = int(input("enter ur age : "))
print(b)
print(type(b))

enter ur age : 20
20
<class 'int'>

# operators
- operator is a symbol is used to perform a specific kind of operations

# Arithmetic Operator
- +
- -
- *
- /
- %
- //

In [19]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational operator
- =
- ==
- !=
- <
- >
- <=
- >=

In [20]:
x = 10
a1 = x > 15
print(a1)

False

# logical operators
- and
- or
- not

In [24]:
i = 100
a1 = (i>15) and (i < 800)
a2 = (i>15) or (i > 800)
i = not 100

print(a1)
print(a2)
print(i)

True
True
False

# control flow statements
- conditional statements
- looping statements

# if - else statements
## syntax
# if boolean_condition
# statements
# else:
# statements

In [28]:
# to check give a number is even or odd
n = int(input("enter a number"))
if n%2 == 0:
  print(n,"is even number")
else:
  print(n,"is odd number")

enter a number45
45 is odd number

In [32]:
# to check given number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
   print(n,"is multiple of 3 and 5")
else:
   print(n,"is not multiple of 3 and 5")

enter a number25
25 is not multiple of 3 and 5

In [36]:
# to check given number is positive,negative or zero
n = int(input("enter a number"))
if n>0:
   print(n,"given number is positive")
elif n<0:
   print(n," given number is negative")
else:
   print(n,"zero")

enter a number45
45 given number is positive

In [39]:
# largest number of three numbers
a=int(input("enter a"))
b=int(input("enter b"))
c=int(input("enter c"))
if(a>b and a>c):
  print("a is greater")
elif(b>a and b>c):
  print("b is greater")
else:
  print("c is greater")

enter a10
enter b20
enter c11
b is greater

In [47]:
# leap year
n = int(input("enter a year"))
if (n%4 == 0 and n%100!=0) or n%400 == 0:
   print("is leap year")
else:
   print("not leap year")

enter a year2020
is leap year